body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-modern {
    background-color: #E59500 ;
    color: #E5DADA;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-modern:hover {
    animation: modern 1s ease-in-out infinite;
    transition: animation 0.4s;
}

@keyframes modern {
    5% {
        transform: translateY(-5px);
    }
    50%{
        box-shadow: 1px 2px 3px #840032 ;
    }
    70%{
        background-color: #E5DADA;
    }
    100%{
        color: #002642;
    }
}