.col {
    background-color: cyan;
}

.row div{
    margin: .25rem;
}

.col-sm {
    background-color: red;
}

.col-md {
    background-color: yellow;
}

.col-lg {
    background-color: green;
}

.col-xl {
    background-color: blue;
}

.col-xxl {
    background-color: pink;
}